// @keyframes animate {
//     0% {
//         transform: translateY(0%);
//     }
//     50% {
//         transform: translateY(-40%);
//     }
//     100% {
//         transform: translateY(0%);
//     }
// }

@keyframes rotate
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}