@mixin flexbox(
    $direction: row, 
    $justify: flex-start, 
    $align: stretch,
    $gap: gap
) 
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin glass-card(
    $height: 100%, 
    $width: 100%, 
    $border-radius: 10px, 
    $blur: 5px
)
{
    height: $height;
    width: $width;
    border: solid 3px rgba(70, 80, 100, 0.05);
    border-radius: $border-radius;
    backdrop-filter: blur($blur);
    background: linear-gradient(135deg, rgba(50, 60, 80, 0.05), rgba(50, 60, 80, 0.05));
}