@mixin flexbox(
    $direction: row, 
    $justify: flex-start, 
    $align: stretch,
    $gap: gap
) 
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}