@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "abstracts/keyframes" as *;

// ======================
//  BASE SETUP
// ======================
@use "base/base";
@use "base/selection";

// ======================
//  LAYOUT
// ======================
@use "layout/header";
@use "layout/footer";
@use "layout/grids";
@use "layout/homepage";
@use "layout/coming_soon";
@use "layout/educ"; // Education - Normale naam werkt niet

// ======================
//  COMPONENTS
// ======================
@use "components/buttons";
@use "components/cards";
@use "components/scrollbar";
@use "components/section_title";

// ======================
//  UI
// ======================
@use "ui/green_name";
@use "ui/background";
@use "ui/green_link";