@use "../abstracts/variables" as vars;
@use "../abstracts//mixins" as mix;

footer 
{
    @include mix.flexbox($justify: center, $align: center, $gap: 2rem);
    padding: .25rem 0;
    margin-top: auto;
    background-color: vars.$primary-color;

    .footer-rights
    {
        @include mix.flexbox($align: center, $gap: .25rem);

        .footer-rights-text
        {
            @include mix.flexbox($gap: 1rem);

            p 
            {
                color: vars.$background-color;
                text-align: center;
                padding: 0.25rem 0;
                font-weight: 300;
            }

            .footer-rights-logo
            {
                @include mix.flexbox($align: center, $gap: .25rem, $justify: center);
            }
        }
        
    }

    .footer-github
    {
        .footer-svg-github 
        {
            a 
            {
                color: vars.$background-color;
                text-decoration: none;
                font-weight: bold;

                svg 
                {
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    margin-right: 0.5rem;
                    fill: vars.$background-color;
                }

                &:hover 
                {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: vars.$breakpoint-tablet)
{
    footer
    {
        flex-direction: column;
        padding: 1rem 0;
    }
}

@media (max-width: vars.$breakpoint-mobile)
{
    footer
    {
        gap: .75rem;

        .footer-rights
        {
            
            .footer-rights-text
            {
                gap: 0;
                flex-direction: column;
            }
        }
    }
}