@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as  mix;

main
{
    .cv-banner-section
    {
        @include mix.flexbox($direction: row, $align: center);
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;

        .cv-main-banner 
        {
            @include mix.flexbox($justify: center, $gap: 2rem);
            width: 50%;

            .profile-pic 
            {
                @include mix.flexbox();
                width: 100%;
                height: 100%;
                max-width: clamp(250px, 25vw, 500px);

                #profile-pic-svg
                {
                    .thin-inner-border-group
                    {
                        animation: rotate 30s linear infinite;
                        transform-origin: center;
                    }

                    .big-inner-border-group
                    {
                        animation: rotate 80s linear infinite reverse;
                        transform-origin: center;
                    }

                    .background-group
                    {
                        animation: rotate 180s linear infinite;
                        transform-origin: center;

                        .bg-child
                        {
                            backdrop-filter: blur(25px);
                        }
                    }
                }
            }
        }

        .cv-banner-fancy-header 
        {
            @include mix.flexbox($direction: column, $justify: center);
            width: 50%;
            max-width: 800px;
            height: 100%;
            align-self: center;

            .cv-banner-container 
            {
                @include mix.flexbox($justify: center, $align: center);
                text-align: left;
                padding: 0 1rem;
                overflow: hidden;
                margin-top: 0;

                .heading
                {
                    font-size: clamp(1.5rem, 5vw, 2.5rem);
                    font-weight: lighter;
                    line-height: 1.2;
                    text-transform: uppercase;
                    font-family: vars.$font-banner-title;
                    margin: 0;
                    text-align: center;
                }
            }

            .subheading-container 
            {
                @include mix.flexbox($justify: center, $align: center, $gap: 1rem);
                margin: 1rem 0;

                .subheading 
                {
                    color: grey;
                    font-size: clamp(1rem, 3vw, 1.25rem);
                    margin: 0;
                }

                .social-icons 
                {
                    @include mix.flexbox($justify: flex-start, $align: center, $gap: .75rem);

                    a 
                    {
                        @include mix.flexbox($justify: center, $align: center);
                    }

                    a:hover svg 
                    {
                        stroke: white;
                        transform: scale(1.1);
                    }

                    svg 
                    {
                        width: 1.5rem;
                        height: 1.5rem;
                        stroke: vars.$primary-color;
                        fill: none;
                        transition: stroke 0.3s, transform 0.2s;
                    }
                }
            }

            .my-description 
            {
                @include mix.flexbox($justify: center, $align: center);

                p 
                {
                    font-weight: lighter;
                    font-size: clamp(1.1rem, 2.5vw, 1.25rem);
                    text-align: center;
                    max-width: 600px;
                    margin: 1rem 0;
                }
            }
        }
    }
}

@media (max-width: vars.$breakpoint-mobile)
{
    main
    {
        .cv-banner-section
        {
            .cv-banner-fancy-header
            {
                .cv-banner-container 
                {
                    min-height: 100px;

                    .heading 
                    {
                        font-size: clamp(1.75rem, 4vw, 2rem);
                        max-width: 100%;
                        text-align: center;
                    }
                }

                .subheading-container 
                {
                    flex-direction: column;

                    .subheading 
                    {
                        font-size: clamp(0.8rem, 3vw, 1rem);
                    }

                    .social-icons 
                    {
                        svg 
                        {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: vars.$breakpoint-tablet)
{
    main
    {
        .cv-banner-section 
        {
            @include mix.flexbox($direction: column, $align: center);

            .cv-main-banner 
            {
                @include mix.flexbox($direction: column, $justify: center, $align: center, $gap: 1rem);
                width: 100%;

                .profile-pic 
                {
                    max-width: clamp(300px, 20vw, 325px);
                    margin-bottom: 1rem;
                }
            }

            .cv-banner-fancy-header 
            {
                margin-top: 0;
                width: 100%;
                
                .cv-banner-container
                {
                    .heading 
                    {
                        max-width: 100%;
                        min-height: 100px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (min-width: vars.$breakpoint-tablet)
{
    main
    {
        .cv-banner-section 
        {
            // @include mix.flexbox($direction: row, $justify: center, $align: flex-start, $gap: 2rem);

            .cv-banner-fancy-header
            {
                .cv-banner-container
                {
                    min-height: 100px;
                }
            }
        }
    }
}