@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

#project-detail-section-slideshow
{
    display: flex;
    gap: 2rem; // ruimte tussen main en small slideshow

    #slideshow-main-parent
    {
        width: 75%;

        #svg-slideshow-main
        {
            .block-navigation-group-battlebot
            {
                #slideshow-next-button,
                #slideshow-previous-button
                {
                    cursor: pointer;
                }
            }
        }
    }

    #svg-images-list-container
    {
        display: flex;
        flex-direction: column;
        width: 20%;
        justify-content: center; // start vanaf boven
        align-items: center;

        svg
        {
            width: 100%;       // svg past in container
            height: auto;
        }
    }
}

#project-detail-section-description
{
    @include mix.flexbox($direction: column);
    gap: 2rem;
        width: 90%;
    align-self: center;

    .project-description-div
    {
        @include mix.flexbox($direction: column);
        height: auto;

        h2
        {
            width: 40%;
            color: rgba(250, 250, 250, 1);
        }

        p
        {
            font-size: 1.25rem;
            font-style: italic;
            color: rgba(51, 81, 142, 1);
            line-height: 2rem;
        }
    }
}

#project-detail-section-specification
{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-self: center;

    .spec-accordion-item
    {
        .spec-accordion-svg
        {
            .spec-border 
            {
                fill: transparent;
            }

            .accordion-header-group
            {
                .accordion-header-path
                {
                    fill: rgba(51, 81, 142,0.1);
                    cursor: pointer;

                    // &:hover
                    // {
                    //     fill: green;
                    // }
                }

                .accordion-title
                {
                    fill: rgba(51, 81, 142,1);
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                }
            }


            .spec-content
            {
                .spec-html-content 
                {
                    margin: 0 auto;
                    padding: 1rem 2.5rem;
                    color: rgba(51, 81, 142,1);
                    background-color: rgba(51, 81, 142,0.05);
                    width: 83.5%;
                    font-size: .75rem;
                    box-shadow: inset 0 0 20px rgba(51, 81, 142, 0.05);
                    border-bottom: solid 2px rgba(51, 81, 142, 0.5);
                }
            }
        }
    }
}


