{% extends "base.html" %}

{% block title %}Over Mij{% endblock %}

{% block content %}
<section id="about-me-section">
  <article class="about-me-excerpt">
    <h1 class="section-title">Meer Over <span class="green-name">Mij</span></h1>
    <p> 
      Met een flinke dosis enthousiasme en een stevige portie motivatie kijk ik vol vertrouwen naar de toekomst. Waar ik mij precies in ga specialiseren, is nog een ontdekkingsreis, en juist dat maakt het interessant. Mijn nieuwsgierigheid definieert wie ik ben: als ik iets nieuws tegenkom, wil ik begrijpen hoe het werkt, waarom het zo werkt en vooral hoe het beter kan.
    </p>
    <p>
      Die drang om te doorgronden motiveert mij om steeds dieper de wereld van technologie in te duiken. Binnenkort wil ik mij verder verdiepen in low-level programmeertalen om computers écht van binnenuit te begrijpen. Tot die tijd zit ik zeker niet stil. Deze website is daar een goed voorbeeld van.
    </p>
    <p>
      Ik sta open voor nieuwe kansen en uitdagingen — neem gerust contact met me op!
    </p>
  </article>
  
  <article id="about-me-form-article">
     <h2 class="section-title">Vragen of <span class="green-name">Contact</span></h2>
    <form method="post" class="about-me-form">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div>
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div>
            {{ form.message }}
            {{ form.message.errors }}
        </div>

        {{ form.honeypot }}

        <button type="submit">Verstuur</button>
    </form>


  </article>
</section>

{% endblock %}
