{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

    <section id="homepage-section-banner">
    
        {% include "components/homepage/first_section/banner_text.html" %}
        
        {% include "components/homepage/first_section/profile_pic.html" %}
    
    </section>

    <section id="homepage-section-experience">

        {% include "components/homepage/second_section/experience.html" %}

    </section>

    <section id="homepage-section-languages">

        {% include "components/homepage/third_section/programming_languages.html" %}

    </section>

    <section class="timeline-section">

        {% include "components/homepage/fourth_section/timeline.html" %}

    </section>
    
{% endblock %}
