{% extends "base.html" %}

{% block page %}project_detail_page{% endblock %}
{% block project_name %}{{project_name}}{% endblock %}

{% block title %}{{ project_name|capfirst }}{% endblock %}

{% block content %}
    <section>
        <!-- <h1 class="section-title">{{ project_name|capfirst }}</h1> -->
        <!-- <i>--- Een volledig geautomatiseerde robot ---</i> -->
    </section>
    <section id="project-detail-section-slideshow">

        <div id="slideshow-main-parent">
            <svg id="svg-slideshow-main">

            </svg>
        </div>

        <div id="svg-images-list-container">
            
        </div>

    </section>

    <section id="project-detail-section-description">
        <h2 class="section-title">Project <span class="green-name">Overzicht</span></h2>
    </section>

    <section id="project-detail-section-specification">
        <h2 class="section-title">Project <span class="green-name">Specificaties</span></h2>
    </section>

    <section id="=project-detail-section-contributors">
        <h2 class="section-title">Project <span class="green-name">Contributors</span></h2>
    </section>

{% endblock %}
