@use "../../abstracts/variables" as vars;
@use "../../abstracts/mixins" as  mix;


#homepage-section-banner
{
    @include mix.flexbox($direction: row, $align: center);
    width: 100%;
    box-sizing: border-box;

    .homepage-banner-profile-pic-container
    {
        @include mix.flexbox($justify: center, $gap: 2rem);
        width: 50%;

        .homepage-banner-profile-pic
        {
            @include mix.flexbox();
            width: 100%;
            height: 100%;
            max-width: clamp(250px, 25vw, 500px);

            #homepage-banner-profile-pic-svg
            {
                .thin-inner-border-group
                {
                    animation: rotate 30s linear infinite;
                    transform-origin: center;
                }

                .big-inner-border-group
                {
                    animation: rotate 80s linear infinite reverse;
                    transform-origin: center;
                }

                .background-group
                {
                    animation: rotate 180s linear infinite;
                    transform-origin: center;

                    .bg-child
                    {
                        backdrop-filter: blur(25px);
                    }
                }
            }
        }
    }

    .homepage-banner-text-container
    {
        @include mix.flexbox($direction: column, $justify: center);
        width: 50%;
        max-width: 800px;
        height: 100%;
        align-self: center;

        .homepage-banner-fancy-text-container 
        {
            @include mix.flexbox($justify: center, $align: center);
            text-align: left;
            padding: 0 1rem;
            overflow: hidden;
            margin-top: 0;

            .homepage-banner-fancy-text
            {
                font-size: clamp(1.5rem, 5vw, 2.5rem);
                font-weight: lighter;
                line-height: 1.2;
                text-transform: uppercase;
                font-family: vars.$font-banner-title;
                margin: 0;
                text-align: center;
            }
        }

        .homepage-banner-subheading-container 
        {
            @include mix.flexbox($justify: center, $align: center, $gap: 1rem);
            margin: 1rem 0;

            .homepage-banner-subheading 
            {
                color: grey;
                font-size: clamp(1rem, 3vw, 1.25rem);
                margin: 0;
            }

            .homepage-banner-social-icons 
            {
                @include mix.flexbox($justify: flex-start, $align: center, $gap: .75rem);
                
                a 
                {
                    @include mix.flexbox($justify: center, $align: center);
                }

                a:hover svg 
                {
                    stroke: white;
                    transform: scale(1.1);
                }

                svg 
                {
                    width: 1.5rem;
                    height: 1.5rem;
                    stroke: vars.$primary-color;
                    fill: none;
                    transition: stroke 0.3s, transform 0.2s;
                }
            }
        }
        
        .homepage-banner-my-description 
        {
            @include mix.flexbox($justify: center, $align: center);
            p 
            {
                font-weight: lighter;
                font-size: clamp(1.1rem, 2.5vw, 1.25rem);
                text-align: center;
                max-width: 600px;
                margin: 1rem 0;
            }
        }
    }
}

@media (max-width: vars.$breakpoint-mobile)
{
    #homepage-section-banner
    {
        .homepage-banner-text-container
        {
            .homepage-banner-fancy-text-container
            {
                .homepage-banner-fancy-text
                {
                    font-size: clamp(1.75rem, 4vw, 2rem);
                    max-width: 100%;
                    text-align: center;
                }
            }

             .homepage-banner-subheading-container 
            {
                flex-direction: column;

                .homepage-banner-subheading 
                {
                    font-size: clamp(0.8rem, 3vw, 1rem);
                }

                .homepage-banner-social-icons 
                {
                    svg 
                    {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: vars.$breakpoint-tablet)
{

    #homepage-section-banner 
    {
        @include mix.flexbox($direction: column-reverse, $align: center);

        .homepage-banner-profile-pic-container 
        {
            @include mix.flexbox($direction: column, $justify: center, $align: center, $gap: 1rem);
            width: 100%;

            .homepage-banner-profile-pic 
            {
                max-width: clamp(300px, 20vw, 325px);
                margin-bottom: 1rem;
            }
        }

        .homepage-banner-text-container
        {
            margin-top: 0;
            width: 100%;

            .homepage-banner-subheading-container 
            {
                margin: 0;
            }
            
            .homepage-banner-fancy-text-container
            {
                .homepage-banner-fancy-text
                {
                    max-width: 100%;
                    min-height: 80px;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: vars.$breakpoint-tablet)
{
    #homepage-section-banner 
    {
        .homepage-banner-text-container
        {
            .homepage-banner-fancy-text-container
            {
                .homepage-banner-fancy-text
                {
                    min-height: 100px;
                }
            }
        }
    }
}