@use "../../abstracts/variables" as vars;
@use "../../abstracts/mixins" as mix;


.timeline-section
    {
        .timeline 
        {
            position: relative;
            padding: 0;
            margin: 0;
        
            .timeline-container 
            {
                position: relative;
                overflow: visible;
                display: block;
                padding: 0;
                margin: 0;

                .timeline-item 
                {
                    @include mix.flexbox($justify: center);
                    width: 100%;
                    box-sizing: border-box;

                    &:not(:last-child) 
                    {
                         margin-bottom: 5rem;
                    }

                    .timeline-img 
                    {
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 50%;
                        position: absolute;
                        left: 53px;
                        margin-top: 1.5rem;
                        z-index: 2;
                        transition: background 0.25s ease;
                    
                        &::after 
                        {
                            content: '';
                            position: absolute;
                            top: -6px;
                            left: -6px;
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            z-index: -1;
                        }
                    }

                    .timeline-img.active 
                    {
                        background: vars.$primary-color;

                        &::after 
                        {
                            border-color: vars.$primary-color;
                        }
                    }

                    .timeline-content 
                    {
                        @include mix.flexbox($direction: column);
                        position: relative;
                        width: 75%;
                        margin-left: 50px;
                        padding: 2rem;
                        border: 1px solid rgba(84, 84, 84, 0.15);
                        border-radius: 8px;
                        backdrop-filter: blur(5px);
                        box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
                        transform: translateX(0);
                        transition: transform 0.5s ease, opacity 0.5s ease;
                        will-change: transform, opacity;
                        background: linear-gradient(
                            235deg,
                            rgba(6, 12, 22, 0.16) 0%,
                            rgba(8.55, 14.25, 25.65, 0.16) 40%,
                            rgba(12, 20, 35, 0.16) 60%,
                            rgba(4, 9, 16, 0.16) 100%
                        );
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        gap: 1rem;

                        h3
                        {
                            font-size: clamp(1.5rem, 2.5vw, 2rem);
                            color: white;
                        }

                        p
                        {
                            color: vars.$secondary-color;
                            line-height: 1.5;
                            font-size: clamp(1.15rem, 2.5vw, 1.25rem);
                        }

                        .timeline-internship
                        {
                            @include mix.flexbox();
                            gap: 2.5rem;

                            div:nth-child(1)
                            {
                                width: 50%;
                            }

                            div:nth-child(2)
                            {
                                width: 50%;
                            }
                            
                            div
                            {
                                @include mix.flexbox($direction: column, $justify: start, $align: center);
                                border-radius: 10px;
                                text-align: center;
                                padding: 2rem 1rem 0;
                                gap: 1rem;

                                h4
                                {
                                    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
                                    color: white;
                                }
                                
                                div
                                {
                                    @include mix.flexbox($justify: center, $align: center);
                                    width: 50%;     
                                    max-width: 7.5rem;
                                    aspect-ratio: 1 / 1;
                                    background-color: rgb(255, 255, 255);
                                    border-radius: 50%;
                                    overflow: hidden;
                                    padding: 1rem;
                                    box-shadow: inset 4px 8px 16px rgba(vars.$background-color, 0.5);

                                    img
                                    {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .timeline-line-segment
            {
                position: absolute;
                background: vars.$primary-color;
                width: 4px;
                border-radius: 6px;
                z-index: 1;
                opacity: 0;
                height: 0;
                transition: opacity 0.5s ease, height 0.5s ease;
                border: 2px solid rgba(6, 10, 18, 0.7);
                box-sizing: content-box;
                left: 0;  
                transform: translateX(-1.5px);  // Niet helemaal hoe het moet, maar het werkt!
            }
        }
    }

@media (max-width: vars.$breakpoint-mobile)
{
    .timeline-section
    {
        .timeline
        {
            .timeline-container
            {
                .timeline-item
                {
                    .timeline-img
                    {
                        left: 0;
                    }
                    .timeline-content
                    {
                        width: 100%;
                        padding: 1rem;

                        .timeline-internship
                        {
                            flex-direction: column;

                            div:nth-child(1)
                            {
                                width: 100%;
                            }

                            div:nth-child(2)
                            {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: vars.$breakpoint-tablet)
{
    .timeline-section
    {
        .timeline
        {
            .timeline-container
            {
                .timeline-item
                {
                    .timeline-img
                    {
                        left: 0;
                    }

                    .timeline-content
                    {
                        width: 100%;
                        padding: 1rem;

                        .timeline-internship
                        {
                            flex-direction: column !important;
                            align-items: center;

                            div:nth-child(1)
                            {
                                width: 100% !important;
                            }

                            div:nth-child(2)
                            {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}