@use "../../abstracts/variables" as vars;
@use "../../abstracts/mixins" as mix;


#homepage-section-languages
{
    .homepage-languages-svg-container
    {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: stretch;
        height: auto;
        gap: .5rem;

        .homepage-languages-main-parent
        {
            height: 100%;
            aspect-ratio: 1030 / 706; 

            #homepage-language-main-svg
            {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .homepage-languages-small
        {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            height: 100%;
            gap: .5rem;
        }
    }
}

@media (max-width: vars.$breakpoint-tablet)
{
    #homepage-section-languages
    {
        .homepage-languages-svg-container
        {
            display: flex;
            flex-direction: column;
            gap: 0;

            .homepage-languages-main-parent
            {
                width: 100%;
                aspect-ratio: 1030 / 706;

                #homepage-language-main-svg
                {
                    width: 100%;
                    height: 100%;
                }
            }

            .homepage-languages-small
            {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                gap: .5rem;

                .homepage-small-svg
                {
                    width: 100%;
                    height: auto;

                    svg,
                    img
                    {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
