@use "../abstracts/variables" as vars;

.section-title
{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-transform: none;
    margin-bottom: 2.5rem;
}

@media (max-width: vars.$breakpoint-mobile)
{
    .section-title
    {
        font-size: 1.75rem;
    }
}