@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

:root
{
  font-size: 16px;
}

html, body 
{
  height: 100%;
}

body 
{
  // font-family: vars.$font-main;
  // color: white;
  // background-color: vars.$background-color;
  // min-height: 100%;
  // min-width: 100%;
    display: flex;
  flex-direction: column;
  font-family: vars.$font-main;
  color: white;
  background-color: vars.$background-color;
}

main
{
  @include mix.flexbox($direction: column, $gap: 7.5rem);
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 7.5rem auto 5%;
}

a
{
  color: white;
}

@media (max-width: vars.$breakpoint-tablet)
{
  main
  {
    margin-top: 2.5rem;
    gap: 5rem;
    padding: 0 2.5rem;
  }
}