<h2 class="section-title">Mijn <span class="green-name">Tijdlijn</span></h2>
    <article class="timeline">
        <div class="timeline-container">
            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content fadeInRight">
                    <h3>De Middelbare Verlaten</h3>
                    <p>
                        Vanaf de basisschool werd mij geadviseerd TL-HAVO te volgen, maar ik koos voor de makkelijkere route. Ik had nooit de motivatie om op school mijn best te doen. Hoewel ik aan alle eisen voldeed, was mijn prestatie op de middelbare school niet bijzonder.
                    </p>
                    <p>
                        Na de middelbare school koos ik aanvankelijk voor de opleiding ICT aan ROC Mondriaan Tinwerf. Mijn cijfers waren over het algemeen best goed, maar ook mijn aanwezigheid en motivatie in deze opleiding lieten te wensen over.
                    </p>
                    <p>
                        In werkelijkheid wilde ik geen vervolgopleiding volgen en had ik de voorkeur om als schilder te gaan werken. Mijn vader stond er echter op dat ik op zijn minst een minimumopleiding afrondde voordat ik school verliet.
                    </p>
                    <p>
                        Omdat ik schilder werd, koos ik voor een <a href="{% url 'opleidingen' %}#mondriaan" class="green-link">MBO Niveau 2 opleiding</a>. Ik heb deze opleiding succesvol afgerond en behaalde zelfs een perfecte score van 10/10 voor het wiskunde-examen.
                    </p>
                </div>
            </div> 
            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content fadeInRight">
                    <h3>Werken als een Schilder</h3>
                    <p>
                        Daarna ben ik gaan werken als huisschilder, een beroep dat ik ongeveer tien jaar met veel plezier heb uitgeoefend en dat ik nog af en toe beoefen.
                    </p>
                    <p>
                        Toch bleef softwareontwikkeling mij intrigeren. Ik probeerde mezelf de programmeertaal Python aan te leren, maar ik raakte al snel overweldigd door de enorme hoeveelheid informatie die nodig is om zelfs een eenvoudig programma te schrijven.
                    </p>
                    <p>
                        Er bleef voor mij nog maar één optie over: opnieuw een opleiding volgen. Dit keer koos ik ervoor om me in te schrijven voor de opleiding <a href="https://mborijnland.nl/" class="green-link" target="_blank">Software Developer aan mboRijnland in Leiden</a>.
                    </p>
                </div>
            </div>   
            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content fadeInRight">
                    <h3>Overstap naar Software Developer</h3>
                    <p>
                        Weer terug naar school, nu begon ik deze opleiding wel met een enorme hoeveelheid motivatie, wat zich meerdere keren uitbetaalde. Ik werd herhaaldelijk gevraagd om <a href="{% url 'komt_binnenkort' %}" class="green-link">extra projecten</a> op te pakken, zoals het begeleiden van een <a href="{% url 'komt_binnenkort' %}" class="green-link">uitwisselingsprogramma</a>, en kreeg zelfs de kans om <a href="{% url 'komt_binnenkort' %}" class="green-link">HBO-studenten te begeleiden</a> als uitdaging voor hun project.
                    </p>
                    <p>
                        De resultaten van mijn motivatie zijn ook terug te zien in mijn cijfers. Ik ben <a href="{% url 'opleidingen' %}#rijnland" class="green-link">cum laude afgestudeerd</a> als de beste student van de opleiding Software Development aan mboRijnland. Ik moet wel vermelden dat ROC Leiden zeven jaar geleden overging in mboRijnland, maar het blijft een prestatie waar ik ontzettend trots op ben!
                    </p>
                    <p>
                        Bovendien nam ik deel aan een <a href="{% url 'opleidingen' %}#ai-onderzoek-certificate" class="green-link">AI-onderzoek</a> waarvoor ik een certificaat van excelentie ontving. Dit onderzoek richtte zich op hoe scholen verantwoord met het gebruik van AI kunnen omgaan. Ik voerde diverse onderzoeken uit voor dit project en verzorgde meerdere presentaties samen met een team van studenten en een docent.
                    </p>
                    <p>
                        School heeft mij een solide basis gegeven om op voort te bouwen. Door goed op te letten en mijn opdrachten zorgvuldig uit te voeren, kan ik nu zelfstandig code schrijven en problemen redelijk goed oplossen.
                    </p>
                </div>
            </div> 
            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content fadeInRight">
                    <h3>Stage</h3>
                    <div class="timeline-internship">
                        <div>
                            <div>
                                <img src="../static/images/timeline/webprepare.webp" alt="Webprepare logo">
                            </div>
                            <h4>Webprepare</h4>
                            <p>
                                Ik heb mijn eerste stage voltooid bij <a href="https://boutier.design/" class="green-link" target="_blank">Webprepare</a> in Voorschoten, een bedrijf dat gespecialiseerd is in WordPress en hosting.
                            </p>
                        </div>
                        <div>
                            <div>
                                <img src="../static/images/timeline/mborijnland.svg" alt="mboRijnland logo">
                            </div>
                            <h4>Battlebot</h4>
                            <p>
                                Battlebot was mijn laatste stage bij mboRijnland binnen de afdeling Techniek. Mijn taak, samen met <a href="https://github.com/Matthijs-de-Graaf" class="green-link" target="_blank">Matthijs</a>, was om de bestaande robot volledig te automatiseren.
                            </p>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content fadeInRight">
                    <h3>Toekomstige Plannen</h3>
                    <p>
                        Na enige tijd nadenken over wat ik precies wil met softwareontwikkeling, heb ik gekozen mij in te schrijven voor de duale studie aan <a href="https://www.hu.nl/deeltijd-opleidingen/hbo-ict-software-development-duaal" class="green-link" target="_blank">Hogeschool Utrecht</a>, waar ik vier jaar lang een werk- en leertraject zal doorlopen.
                    </p>
                    <p>
                        Ook deze opleiding zal ik uiteraard met veel motivatie tegemoet gaan. Waar nodig zal ik mijn soft- en hardskills verbeteren, leren projecten op te zetten, mijn onderzoekende houding verder ontwikkelen, maar bovenal veel plezier maken!
                    </p>
                </div>   
            </div>
        </div>
    </article>